* {
    margin: 0;
    padding: 0;
}
.navContainer {
    background-color: rgb(136, 136, 136);
    padding: 1rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 0;
}
.fa-bars {
    font-size: 3rem;
    margin: 1rem;
    position: fixed;
    z-index: 80000;
    color: white;
}
.navList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 14rem;
}
.navList li {
    padding: 1rem;
    width: 23rem;
}
.navList, a{
    text-decoration: none;
    list-style-type: none;
    font-size: 2rem;
    color: white;
}
.navList li:hover {
    background-color: rgb(179, 179, 179);
}
.hideNav {
    top: -22rem;
}
.showNav {
    top: 0;
}